#wrapperSN{
    flex: 1;
}

.miembro{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 20%;
}

#nombre{
    margin-left: 5%;
}

#posision{
    margin-left: 5%;
}

#info{
    margin-left: 5%;
}

img{
    border-radius: 400px 400px 400px 400px;
    width: 350px;
}

#descipcion{
    display: flex;
    margin-right: 20%;
    margin-left: 10%;
}

h3{
    font-size: 80px;
    margin:0;
}

h4{
    font-size: 40px;
    margin:0;
}

p{
    font-size: 30px;
    
}

h1{
    font-size: 80px;
    margin:0
}