#wrapperSN{
    flex: 1;
}

.miembro{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 20%;
}

#nombre{
    font-size: 8rem;
    margin:0;
    margin-left: 5%;
    color: var();
}

#posision{
    margin-left: 5%;
    font-size: 4rem;
    margin:0;
    margin-left: 5%;
    color: var(--oscuro);
    
}

p{
    text-align: justify;
}

#info{
    margin-left: 5%;
    margin-right: 10%;
}

#imagen{
    border-radius: 40rem 40rem 40rem 40rem;
    width: 33rem;
}

#titulodesc{
    display: flex;
    color: var(--oscuro);
    font-size: 8rem;
    margin:0;
    margin-right: 10%;
    margin-left: 10%;
}
#descipcion{
    margin-right: 10%;
    margin-left: 10%;
    color: var(--oscuro);
}

p{
    font-size: 30px;
}

hr{
    border-top: 3px double var(--rotulos);
    margin-left: 9%;
    margin-right: 9%;
}

#separador{
    border-top: 3px double var(--rotulos);
    margin-left: 30%;
    margin-right: 24%;
}