#carrusel-noticias {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: 0 auto; 
    position: relative;
    margin-top: 25px; 
}

iframe {
    display: block;
    margin: 0 auto;
  }
  

body{
    background-color: #FFFDF4;
    font-family: 'Marvel', sans-serif; 
}

header {
    background-image: url("../img/header.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}

.noticia {
    flex: 0 0 33.33%; 
    padding: 10px;
    text-align: center;
    transition: transform 0.5s ease; 
}

.noticia img {
    max-width: 100%;
    height: auto;
}

.arrow {
    background-color: #ffffff00;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5; 
}

#prev {
    left: 230px;
}
#flecha{
    width: 50px;
    height: 50px;
}
#next {
    right: 250px; 
}


.noticia {
    padding: 10px;
    text-align: center;
    
}

.noticia h2 {
    font-size: 1.5rem;
    font-family: Verdana;
    margin: 10px 0;
}

.noticia img {
  width: 120%;
 
}

#logo img {
    width: 100px;
    height: auto; 
}

footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    background-color: #344306; 
}

footer nav {
    background-color: #344306; 
    padding: 10px; 
    border-radius: 5px; 
}

footer nav a {
    text-decoration: none;
    color: #FFFDF4;
    font-weight: bold; 
    font-size: 16px; 
    margin: 50px;      
}

#fecha{  
    font-family: Arial, sans-serif;
    font-size: small;
    font-weight: bold; 
    color:#14a44b   
}

h2{
    color:#344306;
    font-size: small;
    
}
p{
    color:#000000
}

hr{
    color:#344306;
}

.texto{
    display: flexbox;

}


.descripcion-noticia {
    display: none; 
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.imagen-noticia {
    max-width: 100%;
    height: auto;
    cursor: pointer; 
}

.imagen-noticia:hover + .titulo-noticia + .descripcion-noticia {
    display: block;
    position: absolute;
    background-color: #b9b7b7;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-width: 300px;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
}

#cuadro-emergente {
    display: none;
    transform: translate(36%, -30%);
    background-color:rgb(170, 225, 60);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%; 
    height: 50px; 
    color: #fbfbfb;
    left: 10%;
}

#descripcion-noticia-popup {
    margin: 20px; 
}

.cambio-color {
    color: rgb(170, 225, 60); 
}


#cerrar{
    margin: 20px;
}

#titulo-noticia-popup{
    font-size: 22px; 
    color: #000000; 
    margin-left: 100px;
}

@font-face {
    font-family: 'Marvel';
    src: url('ruta/a/tu/fuente-Marvel.ttf') format('truetype'); 
}

.imagen-noticia2{
    float:left;
}
