:root {
  --body: #fffdf4;
  --claro: #ffffff;
  --menu: #83a931;
  --oscuro: #344306;
  --rotulos: #000000;
  --boton: #333;
  --botonHover: #1c2206;
}

.titulo{
  margin-left: 15px;
  position: relative;
  width:960px;
  height: 50px;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid rgba(37, 193, 9, 0.5);
  font-family: 'Marvel';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#tituloMapa {
  text-align: center;
  
  width:960px;
  height: 50px;
  background: transparent;
  font-family: 'Marvel';
}

span {
  position: absolute;
  border-radius: 100vmax;
}

.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgb(104, 235, 81),
    rgba(83, 248, 54, 0.5),
    transparent 50%
  );
}

.bottom {
  animation: animateBottom 3s ease-in-out infinite;
}


@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

.justify-content-center{
  margin-left: -30px;
}

.apartado{
  position: relative;
  background-color: #000000;
  height: 60px;
  width: 120%;
  display: flex;
  justify-content: space-between;
  
}

.titulo-h1 h1{
  background-color: #344306;
  color: #fffdfd;
  margin-top: 10px;
  margin-right: 160px;
  font-size: 30px;
  margin-left: 400px;
  justify-content: center;
  font-family: "Marvel";

}

.titulo-h1 h1::before{
  background-color: #000000;
  color: #fffdfd;
  margin-right: 100px;
  font-size: 30px;
  margin-left: 290px;
  margin-top: -10px;
  content: '';
  position: absolute;
  border-top: 30px solid transparent;
  border-right:  30px  solid transparent;
  border-bottom:  30px  solid  #344306; /* El color coincide con el fondo del div */
  border-left:  30px  solid  #344306; 
}

.apartado .titulo-h1{
  background-color: #344306;
  color:#344306;
  font-family: "Marvel";
}

html {
  box-sizing: border-box;
  font-family: "Marvel";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: "Marvel";
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

.slider {
  position: relative;
  width: 960px;
  height: 400px;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;

  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"],
#btn-5:checked ~ .slider-controls label[for="btn-5"],
#btn-6:checked ~ .slider-controls label[for="btn-6"],
#btn-7:checked ~ .slider-controls label[for="btn-7"],
#btn-8:checked ~ .slider-controls label[for="btn-8"] {
  background-color: var(--menu);
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}


.slide {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--claro);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

.slide-content {
  width: 400px;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.slide-text {
  margin-bottom: 20px;
}

.card-img-top{
  margin-top:5px;
  border-radius: 15px 50px;
  border-style: groove;
}

.slide-image img {
  max-width: 100%;
  border-radius: 15px; 
  border: #123f0a;
  border-style: groove;
}

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1),
#btn-2:checked ~ .slides .slide:nth-child(2),
#btn-3:checked ~ .slides .slide:nth-child(3),
#btn-4:checked ~ .slides .slide:nth-child(4),
#btn-5:checked ~ .slides .slide:nth-child(5),
#btn-6:checked ~ .slides .slide:nth-child(6),
#btn-7:checked ~ .slides .slide:nth-child(7),
#btn-8:checked ~ .slides .slide:nth-child(8) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1),
#btn-2:not(:checked) ~ .slides .slide:nth-child(2),
#btn-3:not(:checked) ~ .slides .slide:nth-child(3),
#btn-4:not(:checked) ~ .slides .slide:nth-child(4),
#btn-5:not(:checked) ~ .slides .slide:nth-child(5),
#btn-6:not(:checked) ~ .slides .slide:nth-child(6),
#btn-7:not(:checked) ~ .slides .slide:nth-child(7),
#btn-8:not(:checked) ~ .slides .slide:nth-child(8) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}



.card{
  height: 250px;
  width: 320px;
}

.card:hover{
  transform: scale(1.1); 
  transition: transform 0.2s;
  box-shadow: 0 3px 4px 0 rgba(83, 185, 0, 0.653), 0 2px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

}


#botonBanner {
  border: none;
  background-color: var(--rotulos);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 12rem;
  height: 4rem;
  font-family: 'Marvel', sans-serif;
  font-size: 2rem;
  outline: none;
  transform: translate(0px, 40px);
}

#botonBanner:hover {
  border: none;
  background-color: var(--menu);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 12rem;
  height: 4rem;
  font-family: 'Marvel', sans-serif;
  font-size: 2rem;
  outline: none;
}

#botonBanner a {
  text-decoration: none;
  color: var(--claro);
  margin-bottom: 15px;
}

#modal-image{
  margin-left: 80px;
  border: #123f0a;
  border-style: groove;
  border-radius: 15px 50px 30px;
}

#modal-date{
  margin-left: 200px;
  color:#123f0a;
  font-size: 2.5rem;
}

#modal-title{
  font-size: 2.5rem;
  color:#123f0a;
  transform:translate(0px, 10px);
  font-weight: bold;
 
  
}
#modal-description{
  font-size: 2rem;
  color:#676161;
  
}

.btn.btn-secondary{
  color:#123f0a;
  font-size:2rem;
}

.btn-close{
  background-color: #eee;
  transform:translate(0px, -30px )
}

.modal-content{

  background-color: #e0d8d8;
  
}

.titulo h1{
  text-align: center;
  font-weight: bold;
  color:#123f0a;
}

.card img{
  object-fit: cover;
}

.card-body p{
  color:#fff;
  font-size: 14px;
}

.card-body a{
  margin-top: -30px;
  margin-left: 180px;
  width: 8rem;
  height: 4.2rem;
  background-color: var(--rotulos);
  color:#fff;
  border-radius: 15px;
}

.card-body a:hover{
  margin-left: 180px;
  background-color: var(--menu);
  color:#fff;
  z-index: 10;
  }

#fecha {
  font-family: "Marvel", sans-serif;
  font-size: small;
  font-weight: bold;
  color: rgb(50, 73, 5);
}

h2 {
  color: var(--oscuro);
  font-size: small;
  font-family: "Marvel", sans-serif;
}

p {
  color: var(--rotulos);
}

.texto {
  display: flexbox;
}


#fondoVideo {
  background-color:var(--body);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #fff;
}

.slide-content {
  width: 500px;
}

.video-carousel .video-player {
  width: 180px;
  height: 400px;
  background-color: var(--claro);
}

/* Estilos para el contenedor principal */
.video-carousel {
  background-color: var(--claro);
  display: flex;
  width: 980px;
  height: 400px;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Estilos para la lista de videos en la zona izquierda */
.video-list {
  float: left;
  width: 400px;
  background: #fff;
  padding: 10px;
  overflow: auto; /* Permite hacer scroll si hay demasiados elementos */
}

.lista {
  margin-top: 30px;
}

.active:hover{
  transform: scale(1.05);
}

.listaVideo {
  align-items: center;
  justify-content: center;
  color: #c0ff39; /* Cambia esto al color que desees */
  background-color: #000000; /* Cambia el color del texto si es necesario */
  border: 1px solid #000000; /* Agrega un borde alrededor del botón */
  border-radius: 15px; /* Redondea las esquinas del botón */
  padding: 10px 20px; /* Añade espacio interno para el contenido */
  display: inline-block; /* Hace que el botón sea un elemento en línea */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  text-align: center; /* Centra el texto horizontalmente */
  text-decoration: none; /* Quita el subrayado por defecto de los enlaces (si es un enlace) */
}


h3 {
  color: #000000;
  background-color: #eee;
}

.video-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s;
}

.active h3 {
  background-color: var(--rotulos);
  color: #fff;
}

.video-list h3:hover {
  background-color: var(--menu);
}

.video-player iframe {
  width: 530px;
  height: 340px;
  margin:30px;
 
}

/* Estilos para la barra divisoria en el medio (middle-border) */
#middle-border {
  background-color: var(--boton);
  height: 75%; /* Ajusta el tamaño de la barra según tus necesidades */
  max-width: 2px;
  width: 5px;
  margin-top: 50px;
}

.listaVideo.selected {
  color: #c0ff39; /* Cambia esto al color que desees */
  background-color: #000000; /* Cambia el color del texto si es necesario */
}

.video-list h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 24px;
  width: 300px;
  height: 40px;
}

.slide-content button{
  background-color: var(--rotulos);
  height: 30px;
  width: 80px;
  font-size: 15px;
  border-radius: 20px;
}

.slide-content img{
  width: 300px;
  height: 170px;
}

#targets{
  background-color: var(--boton);
}

.slide-content button:hover{
  background-color: var(--menu);
  height: 30px;
  width: 80px;
}

.ico {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .apartado{
    position: relative;
    background-color: #000000;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
  }
  
  .titulo{
    margin-left: 10px;
    position: relative;
    width:730px;
    height: 50px;
    color: #fff;
    background: transparent;
    border-bottom: 1px solid rgba(37, 193, 9, 0.5);
    font-family: 'Marvel';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .titulo-h1 h1{
    background-color: #344306;
    color: #fffdfd;
    margin-top: 10px;
    margin-right: 100px;
    font-size: 30px;
    margin-left: 100px;
    justify-content: center;
  }

  .slider {
    position: relative;
    width: 740px;
    height: 300px;
    margin: 50px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
  }
  


  .slide-title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  
  .slide-text {
    margin-bottom: 20px;
  }
  
  
  .slide-image img {
    max-width: 80%;
    max-height: 80%;
    margin-left:60px;
    border-radius: 15px; 
  }

  .video-carousel {
    display: flex;
    width: 740px;
    height: 300px;
    margin: 50px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .video-player iframe {
    width: 380px;
    height: 240px;
    margin:30px;
  
  }

  .video-list h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 180px;
    height: 30px;
  }

  .lista li{
    margin: -10px;
  }

  #middle-border {
    background-color: var(--boton);
    height: 75%; /* Ajusta el tamaño de la barra según tus necesidades */
    max-width: 2px;
    width: 5px;
    margin-top: 40px;
  }

  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .titulo-h1 h1::before{
    background-color: #000000;
    color: #fffdfd;
    margin-right: 0px;
    font-size: 30px;
    margin-left: 230px;
    margin-top: -10px;
    content: '';
    position: absolute;
    border-top: 30px solid transparent;
    border-right:  30px  solid transparent;
    border-bottom:  30px  solid  #344306; /* El color coincide con el fondo del div */
    border-left:  30px  solid  #344306; 
  }

  #targets{
    background-color: var(--boton);
    margin-top: 15px;
  }

  .video-list {
    float: left;
    width: 320px;
    background: #fff;
    padding: 10px;
    overflow: auto; /* Permite hacer scroll si hay demasiados elementos */
    margin-right: -10px;
  }

  
}

@media (max-width: 576px) {
  .apartado{
    position: relative;
    background-color: #060606;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .titulo{
    margin-left: 15px;
    position: relative;
    width:340px;
    height: 50px;
    color: #fff;
    background: transparent;
    border-bottom: 1px solid rgba(37, 193, 9, 0.5);
    font-family: 'Marvel';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }
  
  .titulo-h1 h1{
    background-color: #344306;
    color: #fffdfd;
    margin-top: 10px;
    margin-right: 130px;
    font-size: 22px;
    margin-left: 50px;
    justify-content: center;
  }

  .slider-controls label {
    display: inline-block;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212121;
    transition: background-color 0.2s linear;
    margin-bottom: 20px;
    margin:3px;
  }

  .slider {
    width: 340px;
    height: 350px;
    margin: 20px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-size:0px;
  }
  
  .slide-title {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .slide-text {
    margin-right: 20px;
    color:#000000;
  }
  
  .slide-image img {
    max-width: 90%;
    max-height: 60%;
    margin-left:8px ;
    transform: translateY(-30px);
  }

  .video-carousel {
    width: 340px;
    height: 400px;
    box-shadow: 0 -1px -1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px -2px rgba(0, 0, 0, 0.1);
  }

  .video-player iframe {
    width: 280px;
    height: 170px;
    transform: translate(-160px, 180px);
  }

  .video-list h3 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    width: 150px;
    height: 20px;
  }
  .lista li{
    margin: -29px;
  }

  .ico {
    margin-right: 0px;
  }

  #middle-border {
    background-color: var(--boton);
    height: 75%; /* Ajusta el tamaño de la barra según tus necesidades */
    max-width: 2px;
    width: 5px;
    margin-top: 28px;
  }

  .slide {
    top: 0;
    left: 0;
    background-color: var(--claro);
    display:grid;
    padding: 20px;
    width: 100%;
    height: 100%;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }

  .slide-content button{
    background-color: var(--rotulos);
    height: 30px;
    width: 80px;
    font-size: 15px;
    transform: translate(100px, 180px);
   
  }
  
  .card-img-top{
    border-radius: 15px 50px 30px;
  }

  .slide-content {
    width: 320px;
  }

  .video-list {
    transform: translate(120px, 0px);
    width: 300px;
    background: #fff;
    padding: 10px;
    background: #fff;
    padding: 10px;
    margin-left: -70px;
  }

 .video-list h3 {
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    width: 180px;
    height: 20px;
  }
  
  #middle-border {
    display: none;
    max-width: 0px;
    width: 0px;
  }

  .ico img{
    width: 40px;
    height: 40px;
    padding:5px;
  }

  li.active {
    width: 600px;
   
  }

  li .active{
    width: 100px;
  }

  .active:hover{
    transform: scale(1.05);
  }
  
#modal-image{
  margin-left: 10px;
}

#modal-date{
  margin-left: 150px;
  color:#c0ff39;
}

#modal-title{
  font-size: 2rem;
  
}

.slide-image img {
border-radius: 15px;
}

  }

  @font-face {
    font-family: "Marvel";
    src: url("Marvel-Regular.ttf") format("truetype");
  }
  