:root {
  --body: #FFFDF4;
  --claro: #ffffff;
  --menu: #83A931;
  --oscuro: #344306;
  --rotulos: #000000;
  --boton: #333;
  --botonHover: #1C2206;
  --textomenosimportante: #818181;
}

html {
  /*COMPARTIDO CON NAV*/
  font-size: 62.5%;

}

/*1 rem = 10px*/
body {
  /*COMPARTIDO CON NAV*/
  font-family: 'Marvel', sans-serif;
  background-color: var(--body);
  font-size: 16px;
}

#header {
  /*COMPARTIDO CON NAV*/
  background-image: url("../img/header.jpg");
  height: 21rem;
  background-size: cover;
  background-repeat: no-repeat;
}

/*.header-container {
  /*COMPARTIDO CON NAV*/
/*display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}*/

#headerLogo {
  /*COMPARTIDO CON NAV*/
  height: 15rem;
  margin-left: 2rem;
}

.header-container h1 {
  /*COMPARTIDO CON NAV*/
  color: var(--claro);
  font-size: 6rem;
  margin-left: 2rem;
}

@media (max-width:768px) {
  .header-container h1 {
      /*COMPARTIDO CON NAV*/
      color: var(--claro);
      font-size: 6rem;
      margin-left: 0rem;
  }
}

@media (max-width:576px) {
  #headerLogo {
      /*COMPARTIDO CON NAV*/
      height: 10rem;
      margin-left: 1rem;
  }

  .header-container h1 {
      /*COMPARTIDO CON NAV*/
      color: var(--claro);
      font-size: 5rem;
      margin-left: 3rem;
  }
}

.dropdown-toggle::after {
  content: none;
}

.btn-secondary{
  content: none;
  background: none;
  border: none;

}

.btn-secondary:hover{
  background: none;
}

.dropdown-item {
  background-color: var(--menu);
  padding: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 4rem;
  color: var(--claro);
  margin-bottom: 0.2rem;

}

.scale-up-hor-right {
	-webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

#footer {
  /*COMPARTIDO CON NAV*/
  color: var(--claro);
  background-color: var(--oscuro);
}

#footer svg {
  /*COMPARTIDO CON NAV*/
  width: 3rem;
  height: 6.5rem;
  margin-left: 5rem;
}

@media (max-width:768px) {
  #footer svg {
      /*COMPARTIDO CON NAV*/
      width: 3rem;
      height: 6.5rem;
      margin-left: 2rem;
  }
}

@media (max-width:576px) {
  #footer svg {
      /*COMPARTIDO CON NAV*/
      width: 3rem;
      height: 6.5rem;
      margin-left: 0rem;
  }
}

#footer p {
  /*COMPARTIDO CON NAV*/
  margin-top: 1rem;

}

@media (max-width:768px) {
  #footer p {
      /*COMPARTIDO CON NAV*/
      margin-top: 1rem;
      margin-left: 1rem;
  }
}

@media (max-width:576px) {
  #footer p {
      /*COMPARTIDO CON NAV*/
      margin-top: 1rem;
      margin-left: 1rem;
  }
}


