:root {
  --body: #FFFDF4;
  --claro: #ffffff;
  --menu: #83A931;
  --oscuro: #344306;
  --rotulos: #000000;
  --boton:#333;
  --botonHover: #1C2206;
}

.search {
    display: flex;
    align-items: center;
    background-color: #d2cdcd;
    padding: 1.5rem;
    border-radius: 5px; /* Añade bordes redondeados al contenedor */
    border: 3px solid #515151;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-top: 1.2rem;
    margin-left: 2rem;
    width: 45%;
    font-family: 'Marvel', sans-serif;
  }

.botonContenedor{
    display: flex;
    align-items: center;
    padding: 1rem; 
}

  /* Estilo para el botón */
#boton {
    display: flex;
    margin-bottom: 1rem;
    margin-top: -6.9rem;
    margin-left: 72.5rem;
    justify-content: center;
    border: none;
    background-color: var(--menu); /* Color de fondo del botón */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    color: white; /* Color del texto del botón */
    padding: 1.8rem; /* Espaciado dentro del botón */
    border-radius: 0 5px 5px 0; /* Bordes redondeados solo en la parte derecha */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: 15rem;
    font-family: 'Marvel', sans-serif;
    font-size: 2rem; 
    outline:none;
  }

  /* Estilo para el icono SVG */
  .search svg {
    fill: none;
    stroke: #faf5e2; /* Cambia el color del icono a tu preferencia */
    stroke-width: 2;
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Espacio entre el icono y el campo de entrada */
  }
  
  /* Estilo para el campo de entrada */
  #searchBar {
    border: none; /* Quita el borde predeterminado */
    background: transparent; /* Fondo transparente para que coincida con el contenedor */
    color: #faf5e2; /* Color del texto en el campo de entrada */
    width: 100%; 
    padding: 0; 
    outline: none; /* Quita el contorno al enfocar el campo */

  }
  
  /* Estilo para el texto de marcador de posición en el campo de entrada */
  #searchBar::placeholder {
    color: gray; /* Color del marcador de posición */
    opacity: 0.7; /* Opacidad del marcador de posición */
    font-size: 1.5rem;
  }
  
  /* Estilo para el campo de entrada cuando está enfocado */
  #searchBar:focus {
    border-bottom: 2px solid #faf5e2; /* Agrega una línea de fondo cuando está enfocado */
  }

.des-menu{
    display: block;
    justify-content: space-between;
    
}

#destacados{
    display: none;
}

#destacados h1{
    margin-left: 2rem; 
    text-decoration:  underline;
    color:var(--oscuro);
    font-size: 3rem;
}

.cajaD {
  padding: 1rem;
  margin-right: 1rem;
  text-align: left;

}

.cajaD li a {
  display: flex;
  text-decoration: none;
  font-size: 4rem;
  color: #1c1701;
  padding: 1rem;
  color:var(--oscuro);
}



.des-menu ul {
    list-style-type: none;
    
  }


.des-menu li {/*COMPARTIDO CON NAV*/
    background-color: #FAF5E2;
    padding: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.5);
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 60px;
    width: 60%;  
}



#mapa-container{
  display:flex;
  justify-content: center;

  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.46);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.46);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.46);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;

  background-color: var(--boton);

  margin-left: 15rem;
  margin-right: 15rem;
}

#mapa-container img{
  border-radius: 1rem;
}

.bannerItinerario{
  display:block;
}

.bannerItinerario h1{
  font-size: 5rem;
  text-align: center;
  font-weight: 400;
}

#botonBanner{
  display: flex;
  margin-bottom: 1rem;
  margin-top: -6.9rem;
  margin-left: 72.5rem;
  justify-content: center;
  border: none;
  background-color: var(--menu); /* Color de fondo del botón */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
  color: white; /* Color del texto del botón */
  padding: 1.8rem; /* Espaciado dentro del botón */
  border-radius: 5px; /* Bordes redondeados solo en la parte derecha */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  width: 15rem;
  font-family: 'Marvel', sans-serif;
  font-size: 2rem; 
  outline:none;
}

#botonBanner a{
  text-decoration: none;
  color:var(--claro);
}

