/* Estilo para el contenedor del botón de búsqueda y el campo de entrada */
.search {
    display: flex;
    align-items: center;
    background-color: #333; /* Cambia el color de fondo a tu preferencia */
    padding: 10px;
    border-radius: 5px; /* Añade bordes redondeados al contenedor */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
  
  /* Estilo para el icono SVG */
  .search svg {
    fill: none;
    stroke: #faf5e2; /* Cambia el color del icono a tu preferencia */
    stroke-width: 2;
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Espacio entre el icono y el campo de entrada */
  }
  
  /* Estilo para el campo de entrada */
  #searchBar {
    border: none; /* Quita el borde predeterminado */
    background: transparent; /* Fondo transparente para que coincida con el contenedor */
    color: #faf5e2; /* Color del texto en el campo de entrada */
    width: 100%; /* Ocupa todo el ancho disponible en el contenedor */
    padding: 0; /* Quita el relleno predeterminado */
    outline: none; /* Quita el contorno al enfocar el campo */
  }
  
  /* Estilo para el texto de marcador de posición en el campo de entrada */
  #searchBar::placeholder {
    color: #faf5e2; /* Color del marcador de posición */
    opacity: 0.7; /* Opacidad del marcador de posición */
  }
  
  /* Estilo para el campo de entrada cuando está enfocado */
  #searchBar:focus {
    border-bottom: 2px solid #faf5e2; /* Agrega una línea de fondo cuando está enfocado */
  }
