body {
    font-family: 'Marvel', sans-serif;
    background-color: #FFFDF4;
    margin: 0;
    padding: 0;
    font-size: 150%
}

#header {
    background-image: url("../../Nav/img/header.jpg");
    background-size: 80%;
    width: 100%;
    height: 260px;
    display: flex;
}

.header-container {
    display: flex;
    position: relative;
}

#headerLogo {
    width: auto;
    height: 70%;
    padding: 5%;
    display: flex;
}

.header-container h1 {
    color: #FAF5E2;
    font-size: 400%;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.header-container-select {
    width: 2000px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 15%;
    padding-left: 55%;
}

#select {
    cursor: pointer;
}

.nav-menu ul {
    list-style-type: none;
    margin-left: 75%;

}

.nav-menu li {
    background-color: #83A931;
    padding: 1%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    margin-right: 5%;
    margin-bottom: 1%;

}

.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-blurred-top2 {
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) reverse both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) reverse both;
}

@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-blurred-top2 {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top2 {
    0% {
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}


.nave-menu {
    display: block;
    justify-content: space-between;
}

#menu {
    display: none;

}

.caja {
    padding: 1%;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 50px;
    color: #FAF5E2;
    padding: 10px;
}

#footer {
    color: #FFFDF4;
    display: flex;
    width: 99%;
    background-color: #344306;
    padding: 0.5%;
    position: relative;
    bottom: 0;
    left: 0;
}

#footer svg {
    margin-left: 2%;
}

#footer p {
    margin-left: 2%;
    margin-top: 1.5%;
}

h1 {
    text-align: center;
    color: #333;
}

#barraProgreso {
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;

}

div progress {
    width: 90%;
    /*padding: 10px;*/
    margin-bottom: 15px;
    border: 3px solid #1c220642;
    border-radius: 50px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eeeeee;
    border-radius: 50px;
  }
  
  progress[value]::-webkit-progress-value {
    border-radius:50px;
    background-color:#83A931;
  }

form {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    margin-right: 5px;

}

#contenedorFecha {
    display: flex;

}

#contenedorFechaInicio {
    margin-right: 2%;
    width: 100%;
}

#contenedorFechaFin {
    margin-right: 2%;
    width: 100%;
}

#contenedorFechaIncio input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contenedorFechaFin input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contenedorAutonomiayTipoCoche {
    display: flex;
    justify-content: space-between;

}

#contenedorAutonomia {
    margin-right: 2%;
    width: 47%;
    margin-top: 1%;
}

#contenedorTipoCoche {
    margin-right: 2%;
    width: 51%;
    margin-top: 0.9%;
    margin-right: -0.8%;
}

#contenedorAutonomia input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contenedorTipoCoche input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: 3px;
}

#contenedorVelocidadCargaYNumPasajeros {
    display: flex;
    justify-content: space-between;

}

#contenedorVelocidadCarga {
    margin-right: 2%;
    width: 51%;
    margin-top: 0.9%;
    margin-right: -0.8%;
}

#contenedorNumPasajeros {
    margin-right: 2%;
    width: 47%;
    margin-top: 1%;

}

#contenedorVelocidadCarga input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contenedorNumPasajeros input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 50px;
    width: 300px;
    font-weight: bold;
    font-size: large;

}

#boton {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #1C2206;
}

#boton2 {
    background-color: #a0a0a0;
    width: 7%;
    height: 5%;
    font-size: 50%;
 }

#contenedorPreferenciaActividades{
    display:flex;
    justify-content:space-between;
    font-size: 80%;
}

#contenedorPreferenciaActividades1{
    margin-right: 2%;
    width: 47%;

}

#contenedorPreferenciaActividades2{
    margin-right: 2%;
    width: 47%;

    
}

input[type="checkbox"]{
    cursor: pointer;
    background-color: #ffffffc6;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #979797;
    transition: background-color 0.3s ease-in-out;

}

input[type="checkbox"]:checked{
    background-color: #83A931;
}

a{
    color: white;
  }
  
  a:hover{
    color: white;
  }
  
  a:active{
    color: white;
  }



 