body {
    font-family: 'Marvel', sans-serif;
    background-color: #FFFDF4;
    margin: 0;
    padding: 0;
    font-size:150% 
}

header {
    width: 100%;
    /* Ajusta el ancho al 100% para ocupar todo el ancho del viewport */
    height: 200px;
    position: relative;
    text-align: center;
    background-color: #1C2206;
}

.img-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    /* Alinea las imágenes a la izquierda */
    align-items: center;
    /* Centra verticalmente las imágenes */
    position: relative;
    cursor: pointer;
}

#header {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#headerLogo {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

h1 {
    text-align: center;
    color: #333;
}

#barraProgreso {
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;

}

div progress {
    width: 90%;
    /*padding: 10px;*/
    margin-bottom: 15px;
    border: 3px solid #1c220642;
    border-radius: 50px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eeeeee;
    border-radius: 50px;
  }
  
  progress[value]::-webkit-progress-value {
    border-radius:50px;
    background-color:#83A931;
  }

form {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    margin-right: 5px;

}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 50px;
    width: 300px;
    font-weight: bold;
    font-size: large;

}

#boton {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #1C2206;
}

#contenedorPasajerosYCoche {
    display: flex;
    justify-content: space-between;

}

#contenedorPasajeros {
    margin-right: 2%;
    width: 47%;
    margin-top: 0.9%;
    margin-right: -0.8%;
}

#contenedorTipoCoche {
    margin-right: 0%;
    width: 50%;
    margin-top: 1%;

}

#contenedorPasajeros input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contenedorTipoCoche input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

#contenedorChecks{
    display:flex;
    justify-content:space-between;
    font-size: 80%;
}

#contenedorVelocidadCarga{
    margin-right: 2%;
    width: 33%;
    font-size: 80%;
}
#contenedorActividades{
    margin-right: 2%;
    width: 66%;
}

#contenedorActividades{
    display:flex;
    justify-content:space-between;
    font-size: 80%;
}

#contenedorActividades1{
    margin-right: 2%;
    width: 47%;

}

#contenedorActividades2{
    margin-right: 2%;
    width: 47%;

    
}

input[type="checkbox"]{
    cursor: pointer;
    background-color: #ffffffc6;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #979797;
    transition: background-color 0.3s ease-in-out;

}

input[type="checkbox"]:checked{
    background-color: #83A931;
}

#titulos{
    display:flex;
    justify-content:space-between;
    font-size: 100%;
    margin-left: 8%;
}