:root {
    --body: #FFFDF4;
    --claro: #ffffff;
    --menu: #83A931;
    --oscuro: #344306;
    --rotulos: #000000;
    --boton: #333;
    --botonHover: #1C2206;
    --textomenosimportante: #818181;
}

html {
    /*COMPARTIDO CON NAV*/
    font-size: 62.5%;

}

/*1 rem = 10px*/
body {
    /*COMPARTIDO CON NAV*/
    font-family: 'Marvel', sans-serif;
    background-color: var(--body);
    font-size: 16px;
}

#header {
    /*COMPARTIDO CON NAV*/
    background-image: url("/Modulos/Nav/img/header.jpg");
    height: 21rem;
    background-size: cover;
    background-repeat: no-repeat;
}

#headerLogo {
    /*COMPARTIDO CON NAV*/
    height: 15rem;
    margin-left: 2rem;
}

.header-container h1 {
    /*COMPARTIDO CON NAV*/
    color: var(--claro);
    font-size: 6rem;
    margin-left: 2rem;
}

@media (max-width:768px) {
    .header-container h1 {
        /*COMPARTIDO CON NAV*/
        color: var(--claro);
        font-size: 6rem;
        margin-left: 0rem;
    }
}

@media (max-width:390px) {
    #headerLogo {
        /*COMPARTIDO CON NAV*/
        height: 10rem;
        margin-left: 1rem;
    }

    .header-container h1 {
        /*COMPARTIDO CON NAV*/
        color: var(--claro);
        font-size: 5rem;
        margin-left: 3rem;
    }
}

.dropdown-toggle::after {
    content: none;
}

.btn-secondary {
    content: none;
    background: none;
    border: none;
    margin-bottom: 1.5rem;
}

.btn-secondary:hover {
    background: none;
}

.encabezado {
    text-align: center;
}

#h1 {
    color: var(--rotulos);
    margin-top: 3rem;
    font-size: 5rem;
    font-family: math;
}

@media (max-width:768px) {
    #h1 {
        color: var(--rotulos);
        margin-top: 3rem;
        font-size: 3rem;
    }
}

@media (max-width:390px) {
    #h1 {
        color: var(--rotulos);
        margin-top: 3rem;
        font-size: 2.5rem;
    }
}

.scale-up-hor-right {
    -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-right {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

@keyframes scale-up-hor-right {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

.scale-up-hor-left {
    -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

.dropdown-item {
    /*COMPARTIDO CON NAV*/
    padding: 0.3rem;
    text-align: center;
    font-size: 4rem;
    color: var(--claro);
    background-color: var(--menu);
    padding: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.5);
    margin-bottom: 0.2rem;
}

#footer {
    /*COMPARTIDO CON NAV*/
    color: var(--claro);
    background-color: var(--oscuro);
}

#footer svg {
    /*COMPARTIDO CON NAV*/
    width: 3rem;
    height: 6.5rem;
    margin-left: 5rem;
}

@media (max-width:768px) {
    #footer svg {
        /*COMPARTIDO CON NAV*/
        width: 3rem;
        height: 6.5rem;
        margin-left: 2rem;
    }
}

@media (max-width:390px) {
    #footer svg {
        /*COMPARTIDO CON NAV*/
        width: 3rem;
        height: 6.5rem;
        margin-left: 0rem;
    }
}

#footer p {
    /*COMPARTIDO CON NAV*/
    margin-top: 1rem;

}

@media (max-width:768px) {
    #footer p {
        /*COMPARTIDO CON NAV*/
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

@media (max-width:390px) {
    #footer p {
        /*COMPARTIDO CON NAV*/
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.progresoSolicitud {
    color: var(--textomenosimportante);
    margin-bottom: -3rem;
}

.progresoSolicitud h4 {
    margin-left: 7rem;
}

@media (max-width:768px) {
    .progresoSolicitud h4 {
        margin-left: 4rem;
    }
}

@media (max-width:390px) {
    .progresoSolicitud h4 {
        margin-left: 2rem;
    }

    .progresoSolicitud p {
        margin-right: 1rem;
    }
}

.progress {
    padding: 0rem;
}

form {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.7);
    text-align: center;
}

form::before {
    content: "";
    /* Contenido vacío para el pseudo-elemento */
    background-image: url(../img/fondoFormulario2.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    /* Posición absoluta para superponer al contenido */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    /* Ajusta la opacidad de la imagen de fondo */
    z-index: -1;
    /* Coloca el pseudo-elemento detrás del contenido */
    border-radius: 10px;
}

form label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #6b6b6b;
    border-radius: 15px;
}

input[type="radio"] {
    margin-right: 5px;
}

input:focus {
    border: 2px solid #83A931;
}

#contenedorFecha {
    display: flex;
}

#contenedorFechaInicio {
    margin-right: 2%;
    width: 100%;
}

#contenedorFechaFin {
    margin-right: 2%;
    width: 100%;
}

#contenedorFechaIncio input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contenedorFechaFin input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

}

#contenedorAutonomiayTipoCoche {
    display: flex;
    justify-content: space-between;

}

#contenedorAutonomia {
    margin-right: 2%;
    width: 47%;
    margin-top: 1%;
}

#contenedorTipoCoche {
    margin-right: 2%;
    width: 51%;
    margin-top: 0.9%;
    margin-right: -0.8%;
}

#contenedorAutonomia input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

}

#contenedorTipoCoche input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: 3px;
}

#contenedorVelocidadCargaYNumPasajeros {
    display: flex;
    justify-content: space-between;

}

#contenedorVelocidadCarga {
    margin-right: 2%;
    width: 51%;
    margin-top: 0.9%;
    margin-right: -0.8%;
}

#contenedorNumPasajeros {
    margin-right: 2%;
    width: 47%;
    margin-top: 1%;

}

#contenedorVelocidadCarga input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contenedorNumPasajeros input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

}

#contenedorChecks {

    font-size: 80%;

}

#contenedorActividades1 {
    width: 100%;
}

#contenedorActividades1 label {
    box-shadow: none;
}

#contenedorActividades2 {
    width: 100%;
}

#contenedorActividades2 label {
    box-shadow: none;
}

input[type="checkbox"] {
    cursor: pointer;
    background-color: #ffffffc6;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #979797;
    transition: background-color 0.3s ease-in-out;
    border-radius: 1rem;
}

input[type="checkbox"]:checked {
    background-color: #83A931;
}

#titulos {
    display: flex;
    justify-content: center;
    font-size: 100%;
}

a {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

#boton {
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--boton);
    color: var(--claro);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    font-weight: bold;
    font-size: large;
}

button:hover {
    background-color: var(--botonHover);
}
